#workday-page {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 80px min-content min-content min-content;
  justify-items: center;
  padding-top: 15px;
}

.mode-switch {
  display: flex;
  align-items: center;
  gap: 2;
}

.calendar-container {
  width: auto;
  height: 250px;
  justify-self: center;
}

.option-container {
  display: flex;
  gap: 40px;
}

@media (max-width: 500px) {
  .option-container {
    gap: 1.5rem;
  }
}
