#workday-page {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 80px auto;
  justify-items: center;
  padding-top: 15px;
  height: 100vh;
  width: auto;
  background-color: rgb(245, 245, 245);
}

.mode-switch {
  display: flex;
  align-items: center;
  gap: 2;
}

.calendar-container {
  width: auto;
  height: 250px;
}

.start-time {
  display: flex;
  gap: 10;
  padding: 10;
}

.end-time {
  padding: 5;
}
