#salary-page {
  display: grid;
  height: 100vh;
  width: auto;
  justify-items: center;
  grid-template-rows: min-content min-content min-content;
  padding-top: 20px;
  grid-gap: 20px;
  background-color: rgb(245, 245, 245);
}

.monthly-salary {
  font-size: 3rem;
  font-weight: 400;
}
